{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="homepage">
    <div class="hello">
        {% if app.user %}
            <h1>Welcome back, {{app.user.username}}</h1>
        {% else %}
            <h1>Welcome to the Phone-book</h1>
        {% endif %}
    </div>
    <div class="item-list">
        <a href="http://localhost/phone-book/public/contact" class="item">
            <img src="http://localhost/phone-book/assets/img/undraw_people_search.png"></img>
            <h3>Contacts</h3>
            <p>Check the list of all contacts in your phone book.</p>
        </a>
        <a href="http://localhost/phone-book/public/giving" class="item">
            <img src="http://localhost/phone-book/assets/img/undraw_share_online.png"></img>
            <h3>Giving access</h3>
            <p>Check the list of contacts which you are sharing with others.</p>
        </a>
        <a href="http://localhost/phone-book/public/receiving" class="item">
            <img src="http://localhost/phone-book/assets/img/undraw_people.png"></img>
            <h3>Receiving access</h3>
            <p>Check the list of contacts you receive.</p>
        </a>
    </div>
</div>
{% endblock %}
