@use "sass:map";

$violet: #6c63ff;
$light-violet: #a8a3fd;
$transparent-light-violet: #a8a3fd52;
$light-grey: #f5f5f5;
$grey: #dad8d8;
$dark-grey: #666;
$black: #2f2e41;
$border: 1.5rem;

$theme-colors: (
    "success": #d4eddabd,
    "danger": #f8d7dabd,
    "warning": #fff3cdbd,
);

$font-colors: (
    "success": #155724,
    "danger": #7a1c24,
    "warning": #856404,
);

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: $light-grey;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem 0;
    align-items: center;
    background: #fff;
    border-radius: $border;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 10%);
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
    text-decoration: none;
}

li {
    font-size: 12px;
    color: #ff0000;
    &::marker {
        font-size: 0;
    }
}

nav {
    display: inline-block;
    width: 100%;
    height: 60px;

    .container-nav {
        display: flex;
        height: inherit;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        border-radius: $border $border 0 0;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);

        .navbar-brand {
            margin-left: 20px;
            font-size: 20px;
            color: $black;
        }

        .navbar-item {
            display: flex;
            width: 70%;
            flex-wrap: nowrap;
            align-content: center;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;

            .nav-item {
                a {
                    font-size: 16px;
                    color: $dark-grey;
                    margin-right: 10px;

                    &:hover {
                        color: $black;
                    }
                }

                .log-out {
                    color: $violet;
                    padding: 5px;

                    &:hover {
                        color: $light-violet;
                    }
                }

                .checked {
                    font-weight: 500;
                    color: $violet;
                }
            }
        }
    }
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;

    .left-side {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 80%;
        background-color: #fff;
    }

    .log-in-image {
        background-image: url("http://localhost/phone-book/assets/img/undraw_login.png");
    }

    .register-image {
        background-image: url("http://localhost/phone-book/assets/img/undraw_landing_page.png");
    }

    .right-side {
        display: flex;
        width: 50%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: $light-grey;
        border-radius: 0 0 $border;
        box-shadow: inset 0 0.125rem 0.25rem -1px rgb(0 0 0 / 8%);
        position: relative;

        &.register {
            height: 90%;
            border: 1px solid $grey;
            border-radius: $border;
            box-shadow: none;
            margin-right: 20px;
        }

        form {
            display: inline-block;
            width: 70%;
            text-align: center;

            .alert-danger {
                position: absolute;
                width: 100%;
                height: 20px;
                top: 0;
                left: 0;
                font-size: 14px;
                color: map.get($font-colors, "danger");
                background-color: map.get($theme-colors, "danger");
            }

            h1 {
                margin: 20px 0;
                color: $black;
            }

            input {
                display: inline-block;
                width: 100%;
                height: 35px;
                margin-bottom: 15px;
                background: $light-grey;
                border-style: hidden;
                border-bottom: 1px solid $grey;
                padding: 0.375rem 0.75rem;
                font-size: 14px;

                &:focus {
                    outline: none;
                    background-clip: padding-box;
                    border: 3px solid $grey;
                }
            }

            .registration-input {
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
            }

            .terms {
                display: block;
                width: 100%;
                position: relative;

                label {
                    float: left;
                    margin-left: 25px;
                    font-size: 14px;
                }

                .agree-terms {
                    position: absolute;
                    width: auto;
                    height: 12px;
                    left: 0;
                    top: 0;
                    margin: 4px;
                }
            }

            button {
                display: inline-block;
                width: 100%;
                height: 35px;
                margin: 10px 0;
                border-radius: 10px;
                font-size: 14px;
                background-color: $violet;
                border: none;
                cursor: pointer;
                color: $light-grey;

                &:hover {
                    background: $light-violet;
                }
            }

            a.login,
            a.register {
                font-size: 14px;
                color: $violet;
            }
        }
    }
}

.homepage {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f7f7fa61;
    border-radius: 0 0 $border $border;

    .hello {
        display: inline-block;
        width: 100%;
        text-align: center;
        height: 20%;
        line-height: 80px;
    }

    .item-list {
        display: flex;
        height: 70%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;

        .item {
            width: 30%;
            height: 100%;
            background-color: #fff;
            border-radius: $border;
            box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 6%);
            &:hover {
                transform: scale(1.05);
            }

            img,
            h3,
            p {
                display: block;
                margin: auto;
                width: 80%;
                text-align: center;
                text-decoration: none;
                color: $black;
            }

            img {
                margin: 8% auto;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }

    .homepage-image {
        height: 40%;
        display: block;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 70%;
        background-color: red;
        background-image: url("http://localhost/phone-book/assets/img/undraw_city_life.png");
    }
}

.column {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    .alert-success,
    .alert-danger {
        font-size: 14px;
    }

    h1,
    h2 {
        height: 10%;
        width: 100%;
        text-align: center;
        line-height: 50px;
    }

    .box {
        display: block;
        margin: 0 auto;
        width: 40%;
        height: 40%;

        .info {
            label,
            input {
                display: block;
                font-size: 14px;
                width: 100%;
                margin-bottom: 5px;
            }
        }

        .create-btn {
            display: block;
            margin: auto;
            width: 70%;
            margin-top: 30px;
            height: 30px;
            cursor: pointer;
            border: none;
            background: $grey;

            &:hover {
                background: $transparent-light-violet;
            }
        }
    }

    .create-image {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: 40%;
        height: 45%;
        background-color: #fff;
        background-position: center;
        background-image: url("http://localhost/phone-book/assets/img/undraw_selecting_team.png");
    }

    .scroll-item {
        display: block;
        width: 100%;
        height: 70%;
        overflow-y: scroll;

        .item-list {
            display: flex;
            width: 100%;
            height: 90%;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: flex-start;
            align-items: center;
            row-gap: 15px;

            &.contacts {
                width: 100%;
                height: 100%;
                margin: auto;
                justify-content: flex-start;
            }

            .item {
                display: inline-block;
                width: 35%;

                &.contacts:hover {
                    background-color: $light-grey;
                }

                &.contacts {
                    width: 100%;
                }

                form.access {
                    display: block;
                    width: 100%;
                    margin-top: 10px;

                    .submit-btn {
                        height: 30px;
                        display: block;
                        margin: auto;
                        font-size: 14px;
                        border: none;
                        text-align: center;
                        cursor: pointer;
                        width: 40%;
                        color: $black;
                        background-color: $grey;

                        &:hover {
                            color: $black;
                            background-color: $transparent-light-violet;
                        }
                    }
                }

                .details {
                    display: grid;
                    column-gap: 15px;
                    width: 40%;
                    margin: auto;
                    text-align: center;
                    grid-template-columns: 70px auto 10%;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "avatar name delete"
                        "avatar phone delete"
                        "avatar buttons delete";

                    .avatar {
                        grid-area: avatar;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: top;
                        background-image: url("http://localhost/phone-book/assets/img/undraw_profile_pic.png");
                    }

                    .name {
                        grid-area: name;
                        color: $black;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .phone {
                        grid-area: phone;
                        color: $dark-grey;
                        font-size: 14px;
                    }

                    .buttons {
                        grid-area: buttons;
                        margin-top: 4px;

                        .edit-btn {
                            color: $violet;
                            background-color: $transparent-light-violet;
                            font-size: 14px;
                            padding: 0 10px;

                            &:hover {
                                color: $light-violet;
                            }
                        }

                        form {
                            display: inline-block;

                            .share-btn {
                                background: $grey;
                                color: $dark-grey;
                                border: none;
                                width: 50px;
                                font-size: 14px;
                                cursor: pointer;
                                padding: none;

                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }

                    form.delete {
                        grid-area: delete;

                        .delete-btn {
                            font-size: 30px;
                            line-height: 26px;
                            font-weight: 200;
                            color: $dark-grey;
                            background: none;
                            border: none;
                            cursor: pointer;
                            transform: rotate(45deg);
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.empty {
    display: block;
    width: 50%;
    margin: 20px auto;

    a {
        color: $violet;

        &:hover {
            color: $light-violet;
        }
    }
}

.alert-danger {
    width: 100%;
    text-align: center;
    color: map.get($font-colors, "danger");
    background-color: map.get($theme-colors, "danger");
}

.alert-success {
    width: 100%;
    text-align: center;
    color: map.get($font-colors, "success");
    background-color: map.get($theme-colors, "success");
}

.alert-warning {
    width: 100%;
    text-align: center;
    color: map.get($font-colors, "warning");
    background-color: map.get($theme-colors, "warning");
}
