{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
<div class="container">
<div class="row bg">
    <h1>Edit Contact</h1>
    <div class="container create col-sm-6">
        <form action="{{path('contact_update', {id:contact.id})}}" method="POST">
        <div class="new">
                <label for="contact_name">Name:</label> 
                <input type="text" name="contact_name" value="{{contact.name}}" id="contact_name">
            </div>
            <div class="new">
                <label for="contact_phone">Phone:</label> 
                <input type="text" name="contact_phone" value="{{contact.phone}}" id="contact_phone">
            </div>
            <button class="submit-btn create" type="submit">Edit Contact</button>
        </form>
    </div> 
</div> 
</div> 
{% endblock %}
