{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<div class="container">
    <div class="row bg">
        <h1>List of contacts</h1>
        <div class="container item-list col-sm-8">
            <div class="row">
                {% for contact in contacts %}
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="preview person"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="title left">{{contact.name}}</div>
                                <div class="title left">{{contact.phone}}</div>
                                <div class="buttons">
                                    <a class="edit-btn" href="{{path('contact_edit', {id: contact.id})}}">Edit</a>
                                    <form action="{{path('contact_delete', {id:contact.id})}}" method="POST">
                                        <button class="submit-btn" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
