{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="column">
    <h2>Receiving access of contacts</h2>
    {% if receiving_access is empty %}
    <p class="empty">There are no receiving access of contacts to show.</p>
    {% endif %}
    <div class="item-list">
        {% for connection in receiving_access %}
            <div class="item">
                {% for guest in guests %}
                    {% if guest.id == connection.guest.id %}
                        <div class="title">Guest: {{guest.email}}</div>
                        <div class="title">Contact name: {{connection.contact.name}}</div>
                        <div class="title">Contact phone: {{connection.contact.phone}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}