{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="column">
    <h2>Receiving access of contacts</h2>
    {% if receiving_access is empty %}
    <p class="empty">There are no receiving access of contacts to show.You can check your contacts  
        <a href="{{path('contact_index')}}">here.</a>
    </p>
    {% endif %}
    <div class="scroll-item">
        <div class="item-list">
            {% for connection in receiving_access %}
                <div class="item">
                    {% for guest in guests %}
                        {% if guest.id == connection.guest.id %}
                            <div class="title"><strong>Guest: </strong>{{guest.email}}</div>
                            <div class="title"><strong>Contact name: </strong>{{connection.contact.name}}</div>
                            <div class="title"><strong>Contact phone: </strong>{{connection.contact.phone}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}