<h2>Receiving access of contacts</h2>
{% if receiving_access is empty %}
<p class="empty">There are no receiving access of contacts to show.</p>
{% endif %}
<div class="container item-list col-sm-8">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    {% for connection in receiving_access %}
                        {% for guest in guests %}
                            {% if guest.id == connection.guest.id %}
                                <div class="title left">Guest: {{guest.email}}</div>
                                <div class="title left">Contact name: {{connection.contact.name}}</div>
                                <div class="title left">Contact phone: {{connection.contact.phone}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>