{% extends 'base.html.twig' %}

{% block title %}Share Contact{% endblock %}

{% block body %}
<div class="column">
    {% if errors is defined and errors|length > 0%}
        {% include 'msg/validation.html.twig'%}
    {% endif %}
    <h2>Share Contact</h2>
    <div class="box">
        <form action="{{path('connection_share', {id:contact.id})}}" method="POST">
            <div class="info">
                <p>Name: {{contact.name}}</p>
            </div>
            <div class="info">
                <p>Phone: {{contact.phone}}</p>
            </div>
            <div class="info">
                <label for="guest_email">Guest:</label> 
                <input type="text" name="guest_email" value="{{ guest_email.email ?? guest_email }}" id="guest_email">
            </div>
            <button class="submit-btn create-btn" type="submit">Share Contact</button>
        </form>
    </div> 
</div> 
{% endblock %}
