<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="http://localhost/phone-book/public/build/app.css?v={{ date().timestamp }}" rel="stylesheet">
        <script src="http://localhost/phone-book/public/build/app.js" defer></script>
        
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <main>
            {% include 'menu.html.twig'%}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
